body{
    
  font-family: 'Golos Text', sans-serif;
  font-family: 'Sofia Sans Condensed', sans-serif;
    margin: 0;
   
}
h1,h2{
    display: flex;
    justify-content: center;
    color: rgb(23, 18, 12);
    font-size: 26px;
    
}
h2{
  margin-bottom: 25px;
}
li{
    list-style: none;
}
input,button {
    display: block;
    margin: 0 0 10px 0;
  }
 
  
  button{
    padding: 5px;
    width: 50%;
    margin: auto;
    font-size: 14px;
    font-weight: bold;
  }
  span{
    color: black;
    font-weight: bold;
    
  }
  button:hover{
    background-color: rgb(188, 164, 236);
    transition: all 1s ease-out;
  }
  p{
    font-size: 20px;
    display: block;
    border: 3px solid blue;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: rgb(183, 194, 247);
    
  }
  button{
    margin-top: 20px;;
  }
  .general_form{
    display: flex;
    justify-content: center;
    margin: 20px;
    
    padding: 20px;
    width: auto;
    height: auto;
  }
  .form_one{
    display: flex;
    width: auto;
    flex-direction: column;
    margin-right:10px ;
    height: auto;
    align-items: center;
    border: 3px solid blue;
    background-color: rgb(227, 220, 246);
  }
  .form_two{
    display: flex;
    width: auto;
    flex-direction: column;
    margin-right:10px ;
    height: auto;
    align-items: center;
    border: 3px solid blue;
    background-color: rgb(227, 220, 246);
   
  }
  form{
    border: 3px solid green;
    height: auto;
    margin-right:10px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(134, 232, 134);
    border-radius: 15px;
    width: auto;
  }
  @media  (min-width: 800px) {
    .general_form{
      border: 1px solid blue;
    }
  }
  @media  (max-width: 600px) {
    .general_form{
      display:flex;
      flex-direction: column;
      
    }   
  }
  @media  (max-width: 330px) {
    form{
      width: 90%;  
    }
      
    
  }
 