body{
    
  font-family: 'Golos Text', sans-serif;
  font-family: 'Sofia Sans Condensed', sans-serif;
    margin: 0;
   
}
h1{
    display: flex;
    justify-content: center;
    color: rgb(23, 18, 12);
    font-size: 26px;
    
}

li{
    list-style: none;
}
input,button {
    display: block;
    margin: 0 0 10px 0;
  }
 

  
  button{
    padding: 5px;
    width: 50%;
    margin: auto;
    font-size: 14px;
    font-weight: bold;
  }
  span{
    color: black;
    font-weight: bold;
    
  }
  button:hover{
    background-color: rgb(188, 164, 236);
    transition: all 1s ease-out;
  }
  p{
    font-size: 24px;
    display: block;
    
    height: auto;
    margin: 10px;
    padding: 10px;
    
    
  }
  button{
    margin-top: 20px;;
  }
  .general_form{
    display: flex;
    justify-content: center;
    margin: 20px;
    
    padding: 20px;
    width: auto;
    height: auto;
  }
  .form_one{
    display: flex;
    width: auto;
    flex-direction: column;
    margin-right:10px ;
    height: auto;
    align-items: center;
    border: 3px solid blue;
    background-color: rgb(227, 220, 246);
  }
  .form_two{
    display: flex;
    width: auto;
    flex-direction: column;
    margin-right:10px ;
    height: auto;
    align-items: center;
    border: 3px solid blue;
    background-color: rgb(227, 220, 246);
   
  }
  form{
    border: 3px solid green;
    height: auto;
    margin-right:10px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(134, 232, 134);
    border-radius: 15px;
    width: auto;
  }
  @media only screen and (min-width: 320px) {
    .general_form{
      flex-direction: column;
    }
    }
    @media only screen and (min-width: 540px) {
      .general_form{
        flex-direction: row;
      }
      }
      @media only screen and (min-width: 1024px) {
        .general_form{
          flex-direction: column;
          
        }
        .form_one{
          flex-direction: row;
          justify-content: space-between;
        }
        .form_two{
          flex-direction: row;
          justify-content: space-between;
        }
        .forma{
            border-left: 5px solid blue;
   
        }
        .general_form{
          border: 1px solid blue;
          
        }
        }

        h2{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
       
  
 
        